html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.body {
  font-family: Roboto, sans-serif;
}

:root {
  --primary-text-color: #757575;
  --heading-main-color: #212121;
  --accent: #2196f3;
  --button-color: #f5f4fa;
  --wite-color: #ffffff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

/* class  */

/* header  */

.header-container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;

  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

/* logo  */
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-header {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--wite-color);
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-list :hover,
.site-list :focus {
  color: var(--accent);
}

.site-link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heading-main-color);
}

.site-link.current {
  color: var(--accent);
}

.auth-nav {
  display: flex;
  align-items: center;
}

.auth-list :hover,
.auth-list :focus {
  color: var(--accent);
}

.auth-link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* main  */

/* hero */

.hero {
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--wite-color);
}

.hero-button {
  background-color: var(--accent);
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
}

.hero-button.text {
  color: var(--wite-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* peculiarities */
.peculiarities-title {
  font-family: 'Roboto';
  color: var(--heading-main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.peculiarities-text {
  font-family: 'Roboto';
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* work */

.work-title {
  font-family: 'Roboto';
  color: var(--heading-main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* team */
.team-title {
  font-family: 'Roboto';
  color: var(--heading-main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  font-family: 'Roboto';
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */

.footer {
  background: #2f303a;
}

.address-location {
  color: var(--wite-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address-contact {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address-location:hover,
.address-location:focus {
  color: var(--accent);
}

.address-contact:hover,
.address-contact:focus {
  color: var(--accent);
}
